[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
loguru = "*"
protobuf = "*"

[dev-packages]
pytest = "*"
mnist = "*"
matplotlib = "*"
pandas = "*"
optuna = "*"
optuna-dashboard = "*"
streamlit = "*"
stqdm = "*"
pretty-confusion-matrix = "*"
mpremote = "*"
esptool = "*"
tmu = {git = "https://github.com/cair/tmu.git"}

[requires]
python_version = "3.10"
