[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
pytest = "*"
tqdm = "*"
protobuf = "*"
streamlit = "*"
stqdm = "*"
matplotlib = "*"
loguru = "*"
mnist = "*"
pretty-confusion-matrix = "*"
optuna = "*"
optuna-dashboard = "*"
tmu = {git = "https://github.com/cair/tmu.git"}

[dev-packages]

[requires]
python_version = "3.10"
